.register {
  background-color: white;
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    width: 600px;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    min-height: 60px;
    overflow: hidden;

    .left {
      h1 {
        font-size: 100px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;

      img {
        position: relative;
        width: 40px;
        height: 40px;
        left: 220px;
        text-align: center;
      }
      h1 {
        color: #312e81;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        label {
          font-weight: bold;
          font-size: small;
        }
        input {
          border: none;
          outline: none;
          border-bottom: 1px solid lightgray;
          padding: 8px 5px;
          border-radius: 2%;
        }

        button {
          padding: 10px;
          border: none;
          background-color: #51b5ff;
          color: white;

          border-radius: 30px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

//how to
